.mayusculas {
	/*text-transform: uppercase;*/
	color: grey;
    font-weight: bold;
    font-size: 15px;
}

.seleccionado {
	color: grey;
    font-weight: bold;
}

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	border: 1px solid #ddd; /* Add a border to all links */
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6; /* Grey background color */
	padding: 8px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 15px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block;
	/* Make it into a block element to fill the whole list */
}

#myUL li a:hover{
	cursor: pointer;
	background-color: #eee;
	/* Add a hover effect to all links, except for headers */
}