<!--					****************		FORMULARIO DE BUSQUEDA PARA LAS CONSULTAS		**************** 					-->
<!--	El modelo de formulario usado para esta parte de la página es el Template-driven Form, es decir, los controles y
		validaciones se realizan desde el propio HTML a traves de los controles de Angular ngForm(Formulario) y ngModel(campos)		-->
<br>
<div class="row">
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
	</div>
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
	</div>
</div>
<div id="areaBusca">
	<br>
	<form id="buscaCdnForm" name="buscaCdnForm" (ngSubmit)="onSubmit()" #buscaCdnForm="ngForm">
		<fieldset id="fieldBusca">
			<legend class="text-muted"> Rellene los campos de la consulta </legend>
			<div class="row form-group form-group-sm">
				<!-- NOMBRE -->
				<div class="col-sm-3">
					<label for="des_refdocum">Documento asociado</label> 
					<input type="text" class="form-control" id="des_refdocum"
						[(ngModel)]="cadenas.des_refdocum" name="des_refdocum" #des_refdocum="ngModel">
				</div>
				
				<!-- CADENA -->
				<div class="col-sm-3">
					<label for="des_cadenapl">Cadena</label> 
					<input type="text" class="form-control" id="des_cadenapl"
						[(ngModel)]="cadenas.des_cadenapl" name="des_cadenapl" #des_cadenapl="ngModel">
				</div>
				
				<!-- AUTOR -->
				<div class="col-sm-3">
					<label for="des_autor">Autor</label> 
					<input type="text" class="form-control" id="des_autor"
						[(ngModel)]="cadenas.des_autor" name="des_autor" #des_autor="ngModel">
				</div>
				
				<!-- APLICACION -->
				<div class="col-sm-3">
					<label for="cod_aplicaci">Cod.Aplicaci&oacute;n - UUAA</label> 
					<input type="text" class="form-control" id="cod_aplicaci"
						[(ngModel)]="cadenas?.id.cod_aplicaci" name="cod_aplicaci" #cod_aplicaci="ngModel"> 
				</div>
			</div>
			<div *ngIf="!masCampos">
				<a (click)="toogleCampos()" style="cursor: pointer;"> 
					Mostrar mas campos de b&uacute;squeda + 
				</a>
			</div>
			<div *ngIf="masCampos">
				<div class="row form-group form-group-sm">
					<!-- FECHA DE MODIFICACION -->
					<div class="col-sm-3">
						<label for="fec_modifica">Fecha de Modificaci&oacute;n</label>
						<input type="date" class="form-control" id="fec_modifica"
							[(ngModel)]="cadenas.fec_modifica" name="fec_modifica" #fec_modifica="ngModel">
					</div>
					
					<!-- EQUIPO -->
					<div class="col-sm-3">
						<label for="des_equipocd">Equipo</label>
						<input type="text" class="form-control" id="des_equipocd"
							[(ngModel)]="cadenas.des_equipocd" name="des_equipocd" #des_equipocd="ngModel">
					</div>
					
					<!-- PERIODICIDAD -->
					<div class="col-sm-3">
						<label for="xti_periocdn">Periodicidad</label>
						<input type="text" class="form-control" id="xti_periocdn"
							[(ngModel)]="cadenas.xti_periocdn" name="xti_periocdn" #xti_periocdn="ngModel">
					</div>
					
					<!-- DIA DE EJECUCION -->
					<div class="col-sm-3">
						<label for="des_diaejecu">D&iacute;a de ejecuci&oacute;n</label> 
						<input type="text" class="form-control" id="des_diaejecu"
							[(ngModel)]="cadenas.des_diaejecu" name="des_diaejecu" #des_diaejecu="ngModel">
					</div>				
				</div>
				
				<div class="row form-group form-group-sm">
					<!-- HORARIO -->
					<div class="col-sm-3">
						<label for="des_horaejec">Horario</label>
						<input type="text" class="form-control" id="des_horaejec"
							[(ngModel)]="cadenas.des_horaejec" name="des_horaejec" #des_horaejec="ngModel">
					</div>
					
					<!-- CRITICIDAD -->
					<div class="col-sm-3">
						<label for="xti_critical">Criticidad</label>
						<input type="text" class="form-control" id="xti_critical"
							[(ngModel)]="cadenas.xti_critical" name="xti_critical" #xti_critical="ngModel">
					</div>
					
					<!-- REARRANQUES -->
					<div class="col-sm-3">
						<label for="des_rearran">Rearranques</label>
						<input type="text" class="form-control" id="des_rearran"
							[(ngModel)]="cadenas.des_rearran" name="des_rearran" #des_rearran="ngModel">
					</div>
					
					<!-- INTERRELACCION ONLINE -->
					<div class="col-sm-3">
						<label for="des_interrel">Interrelacci&oacute;n Online</label> 
						<input type="text" class="form-control" id="des_interrel"
							[(ngModel)]="cadenas.des_interrel" name="des_interrel" #des_interrel="ngModel">
					</div>				
				</div>
				<a (click)="toogleCampos()" style="cursor: pointer;">
					Mostrar menos campos de b&uacute;squeda - 
				</a>
			</div>
			<br>
			<!-- BOTONERA DEL FORMULARIO -->
			<div class="row form-group form-group-sm">
				<div class="col-sm-2">
					<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button>
				</div>
				<div class="col-sm-offset-8 col-sm-2">
<!-- 					<button id="frmBuscaCadenaBtnBusca" type="submit" class="pull-right btn btn-success" data-toggle="modal" data-target="#consultaCadenasModal"  -->
<!-- 						[disabled]="!buscaCdnForm.form.dirty">Buscar</button> -->
					<button id="frmBuscaCdnBtnBusca" type="submit" class="pull-right btn btn-success" [disabled]="!buscaCdnForm.form.dirty">Buscar</button>
				</div>
			</div>
		</fieldset>
	</form>
	<br>
	<!-- 	TABLA DE RESULTADOS DE BÚSQUEDA -->
	<div *ngIf="cadenas_res">
		<ngx-datatable
			class="material striped"
			[rows]="cadenas_res"
			[columnMode]="'standard'"
			[scrollbarH]="true"
			[headerHeight]="50"
			[footerHeight]="50"
			[rowHeight]="'auto'"
			[reorderable]="reorderable"
			[limit]="10"
			[selected]="selected"
          	[selectionType]="'checkbox'"
          	(activate)="onActivate($event)"
          	(select)='onSelect($event)'>
			<ngx-datatable-column 
				[frozenLeft]="true"
	            [width]="30"
	            [sortable]="false"
	            [canAutoResize]="false"
	            [draggable]="false"
	            [resizeable]="false"
	            [headerCheckboxable]="true"
	            [checkboxable]="true">
          	</ngx-datatable-column>
			<ngx-datatable-column
				[frozenLeft]="true"
	            [width]="100"
	            [sortable]="false"
	            [canAutoResize]="false"
	            [draggable]="false"
	            [resizeable]="false"
	            [headerCheckboxable]="false"
	            [checkboxable]="false">
	            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            		<i (click)="consulta(row)" class="color-iconos glyphicon glyphicon-eye-open"></i>
            		<i (click)="elimina(row)" class="color-iconos glyphicon glyphicon-trash"></i>
          		</ng-template>
          	</ngx-datatable-column>
			<ngx-datatable-column name="Nombre Cadena" prop="des_cadenapl">
          		<ng-template let-value="value" ngx-datatable-cell-template>
            		<strong>{{value}}</strong>
          		</ng-template>
        	</ngx-datatable-column>
        	<ngx-datatable-column name="UUAA" prop="id.cod_aplicaci"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Autor" prop="des_autor"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Fecha de Modificaci&oacute;n" prop="fec_modifica"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Equipo" prop="des_equipocd"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Periodicidad" prop="xti_periocdn"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="D&iacute;a de ejecuci&oacute;n" prop="des_diaejecu"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Horario" prop="des_horaejec"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Criticidad" prop="xti_critical"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Rearranques" prop="des_rearran"> 
        	</ngx-datatable-column>
        	<ngx-datatable-column name="Interrelaci&oacute;n Online" prop="des_interrel"> 
        	</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
	</div>
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
	</div>
</div>
<br>