<!--					****************		FORMULARIO DE BUSQUEDA PARA LAS CONSULTAS		**************** 					-->
<!--	El modelo de formulario usado para esta parte de la página es el Template-driven Form, es decir, los controles y
		validaciones se realizan desde el propio HTML a traves de los controles de Angular ngForm(Formulario) y ngModel(campos)		-->
<div class="col-xs-offset-9 col-xs-3 col-sm-offset-10 col-sm-2 panel-mando">
	<div class="col-xs-1 mini-circular" title="Home" routerLink="/">
		<span class="hvr-icon-back glyphicon glyphicon-home"></span>
	</div>
	<div class="col-xs-1 mini-circular" title="Men&uacute; operaciones" routerLink="/menu-operacion">
		<span class="hvr-icon-back glyphicon glyphicon-menu-left"></span>
	</div>
</div>
<br>
<div class="container-fluid">
	<!-- <div class="row">
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
		</div>
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
		</div>
	</div> -->
	<div id="areaBuscaAplicaciones">
		<br>
		<form id="buscaAppsForm" name="buscaAppsForm" (ngSubmit)="onSubmit()" #buscaAppsForm="ngForm">
			<fieldset id="fieldBusca">
				<legend class="text-muted"> Rellene los campos de la consulta </legend>
				<div class="row form-group form-group-sm">
					<!-- COD. APLICACION -->
					<div class="col-sm-3">
						<label for="cod_aplicaci">Aplicaci&oacute;n</label> 
						<input type="text" class="form-control" id="cod_aplicaci"
							[(ngModel)]="aplicaciones?.id.cod_aplicaci" name="cod_aplicaci" #cod_aplicaci="ngModel">
					</div>
					
					<!-- FECHA IMPLANTACION -->
					<div class="col-sm-3">
						<label for="tim_implanta">Fecha de implantaci&oacute;n</label> 
						<input type="datetime-local" class="form-control" id="tim_implanta"
							[(ngModel)]="aplicaciones.tim_implanta" name="tim_implanta" #tim_implanta="ngModel">
					</div>
					
					<!-- FECHA ENTREGA -->
					<div class="col-sm-3">
						<label for="tim_entrega">Fecha de entrega</label> 
						<input type="datetime-local" class="form-control" id="tim_entrega"
							[(ngModel)]="aplicaciones.tim_entrega" name="tim_entrega" #tim_entrega="ngModel">
					</div>
					
					<!-- NOMBRE DEL UUAA -->
					<div class="col-sm-3">
						<label for="des_nomuuaa">Nombre de la UUAA</label> 
						<input type="text" class="form-control" id="des_nomuuaa"
							[(ngModel)]="aplicaciones.des_nomuuaa" name="des_nomuuaa" #des_nomuuaa="ngModel">
					</div>
					
				</div>
				<div *ngIf="!masCampos">
					<a (click)="toogleCampos()" style="cursor: pointer;"> 
						Mostrar mas campos de b&uacute;squeda + 
					</a>
				</div>
				<div *ngIf="masCampos">
					<div class="row form-group form-group-sm">
						<!-- FECHA MONITORIZACION -->
						<div class="col-sm-3">
							<label for="fec_monitori">Fecha de Monitorizaci&oacute;n</label>
							<input type="date" class="form-control" id="fec_monitori"
								[(ngModel)]="aplicaciones.fec_monitori" name="fec_monitori" #fec_monitori="ngModel">
						</div>
						
						<!-- HORAS MAXIMO -->
						<div class="col-sm-3">
							<label for="des_hmax">Horas m&aacute;ximo acceso</label>
							<input type="text" class="form-control" id="des_hmax"
								[(ngModel)]="aplicaciones.des_hmax" name="des_hmax" #des_hmax="ngModel">
						</div>
						
						<!-- HORAS VALLE -->
						<div class="col-sm-3">
							<label for="des_hvalle">Horas valle</label>
							<input type="text" class="form-control" id="des_hvalle"
								[(ngModel)]="aplicaciones.des_hvalle" name="des_hvalle" #des_hvalle="ngModel">
						</div>
						
						<!-- FECHA PREVISTA ENTREGA -->
						<div class="col-sm-3">
							<label for="tim_estimada">Fecha prevista de entrega</label> 
							<input type="datetime-local" class="form-control" id="tim_estimada"
								[(ngModel)]="aplicaciones.tim_estimada" name="tim_estimada" #tim_estimada="ngModel">
						</div>				
					</div>
					<div class="row form-group form-group-sm">
						<!-- NOMBRE PETICIONARIO -->
						<div class="col-sm-3">
							<label for="des_nompet">Nombre del peticionario</label>
							<input type="text" class="form-control" id="des_nompet"
								[(ngModel)]="aplicaciones.des_nompet" name="des_nompet" #des_nompet="ngModel">
						</div>
						
						<!-- TELEFONO PETICIONARIO -->
						<div class="col-sm-3">
							<label for="des_telsolic">Tel&eacute;fono del peticionario</label>
							<input type="text" class="form-control" id="des_telsolic"
								[(ngModel)]="aplicaciones.des_telsolic" name="des_telsolic" #des_telsolic="ngModel">
						</div>
						
						<!-- SANCION APROBADA -->
						<div class="col-sm-3">
							<label for="xti_csancion">Sanci&oacute;n aprobada?</label>
							<select class="form-control" id="xti_csancion"
								[(ngModel)]="aplicaciones.xti_csancion" name="xti_csancion" #xti_csancion="ngModel">
								<option value="N">NO</option>
								<option value="S">SI</option>
							</select>
						</div>
						
						<!-- FECHA ULTIMA SOLICITUD -->
						<div class="col-sm-3">
							<label for="tim_ultsol">Fecha &uacute;ltima solicitud</label> 
							<input type="datetime-local" class="form-control" id="tim_ultsol"
								[(ngModel)]="aplicaciones.tim_ultsol" name="tim_ultsol" #tim_ultsol="ngModel">
						</div>				
					</div>
					<div class="row form-group form-group-sm">
						<!-- FECHA FIN RA -->
						<div class="col-sm-3">
							<label for="tim_finra">Fecha fin trabajo R.A.</label>
							<input type="datetime-local" class="form-control" id="tim_finra"
								[(ngModel)]="aplicaciones.tim_finra" name="tim_finra" #tim_finra="ngModel">
						</div>
						
						<!-- USUARIO -->
						<div class="col-sm-3">
							<label for="cod_user">Usuario R.A.</label>
							<input type="text" class="form-control" id="cod_user"
								[(ngModel)]="aplicaciones.cod_user" name="cod_user" #cod_user="ngModel">
						</div>
						
						<!-- RESPONSABLE RA -->
						<div class="col-sm-3">
							<label for="cod_userra">Responsable R.A.</label>
							<input type="text" class="form-control" id="cod_userra"
								[(ngModel)]="aplicaciones.cod_userra" name="cod_userra" #cod_userra="ngModel">
						</div>
						
						<!-- TELEFONO RA -->
						<div class="col-sm-3">
							<label for="des_telusura">Tel&eacute;fono responsable R.A.</label> 
							<input type="datetime-local" class="form-control" id="des_telusura"
								[(ngModel)]="aplicaciones.des_telusura" name="des_telusura" #des_telusura="ngModel">
						</div>				
					</div>

					<div class="row form-group form-group-sm">
						<!-- ID MONITORIZACION -->
						<div class="col-sm-3">
							<label for="des_codmonit">ID. Monitorizaci&oacute;n</label> 
							<input type="text" class="form-control" id="des_codmonit"
								[(ngModel)]="aplicaciones.des_codmonit" name="des_codmonit" #des_codmonit="ngModel">
						</div>
					</div>

					<div class="row form-group form-group-sm">
						<div class="col-sm-12">
							<label>ALCANCE (N&uacute;mero de Objetos/Ejecuciones):</label>
						</div>
						<!-- PAQUETES -->
						<div class="col-sm-3">
							<label for="qnu_npaquete">Paquetes</label>
							<input type="number" class="form-control" id="qnu_npaquete"
								[(ngModel)]="aplicaciones.qnu_npaquete" name="qnu_npaquete" #qnu_npaquete="ngModel">
						</div>
						
						<!-- SCRIPTS -->
						<div class="col-sm-3">
							<label for="qnu_nscripts">Scripts</label>
							<input type="number" class="form-control" id="qnu_nscripts"
								[(ngModel)]="aplicaciones.qnu_nscripts" name="qnu_nscripts" #qnu_nscripts="ngModel">
						</div>
						
						<!-- FICHEROS DE CONFIG -->
						<div class="col-sm-3">
							<label for="qnu_nfichero">Ficheros de configuraci&oacute;n</label>
							<input type="number" class="form-control" id="qnu_nfichero"
								[(ngModel)]="aplicaciones.qnu_nfichero" name="qnu_nfichero" #qnu_nfichero="ngModel">
						</div>
						
						<!-- CARGAS EN BBDD -->
						<div class="col-sm-3">
							<label for="qnu_ncargabd">Cargas de BBDD</label> 
							<input type="number" class="form-control" id="qnu_ncargabd"
								[(ngModel)]="aplicaciones.qnu_ncargabd" name="qnu_ncargabd" #qnu_ncargabd="ngModel">
						</div>				
					</div>
					<a (click)="toogleCampos()" style="cursor: pointer;">
						Mostrar menos campos de b&uacute;squeda - 
					</a>
				</div>
				<br>
				<!-- BOTONERA DEL FORMULARIO -->
				<div class="row form-group form-group-sm">
					<div class="col-sm-2">
						<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button>
					</div>
					<div class="col-sm-offset-8 col-sm-2">
						<button id="frmBuscaAppBtnBusca" type="submit" class="pull-right btn btn-success">Buscar</button>
					</div>
				</div>
			</fieldset>
		</form>
		<br>
		<div class="container-fluid well" *ngIf="aplicaciones_res">
			<div class="row">
				<strong>OPCIONES PARA OPERACIONES MASIVAS</strong>
			</div>
			<br>
			<div class="col-xs-3">
				<button (click)="borradoMasivo()" [disabled]="selected.length < 1" type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash margin-icon"></span>
					Borrado masivo
				</button>
			</div>
		</div>
		<!-- TABLA DE RESULTADOS DE BÚSQUEDA -->
		<div *ngIf="aplicaciones_res">
			<div class="row">
				<div class="form-inline col-sm-3">
					<label>Filas a Visualizar:</label>
					<select #filasTabla id="filasTabla" class="form-control">
						<option value="5">5</option>
						<option value="10">10</option>
						<option selected="selected" value="25">25</option>
						<option value="50">50</option>
						<option value="75">75</option>	
						<option value="100">100</option>	
					</select>
				</div>
				<div *ngIf="mostrarCampos" class='col-sm-3 cuadro-mostrar'>
					<h4>Columnas a Visualizar</h4>
					<ul>
						<li>
							<input [(ngModel)]="chk_uuaa" type='checkbox' id="UUAA">
							<label>UUAA</label>
						</li>
						<li>
							<input [(ngModel)]="chk_nomdoc" type='checkbox' id="nomdoc">
							<label>Nombre del Documento</label>
						</li>
						<li>
							<input [(ngModel)]="chk_monitorizacion" type='checkbox' id="monitorizacion">
							<label>ID. Monitorizaci&oacute;n</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecMonitoriza" type='checkbox' id="fecMonitoriza">
							<label>Fecha de Monitorizaci&oacute;n</label>
						</li>
						<li>
							<input [(ngModel)]="chk_horasMaxAcceso" type='checkbox' id="horasMaxAcceso">
							<label>Horas m&aacute;ximo acceso</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecImplanta" type='checkbox' id="fecImplanta">
							<label>Fecha de implantaci&oacute;n</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecEntrega" type='checkbox' id="fecEntrega">
							<label>Fecha de entrega</label>
						</li>
						<li>
							<input [(ngModel)]="chk_horasValle" type='checkbox' id="horasValle">
							<label>Horas valle</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecPrevEntrega" type='checkbox' id="fecPrevEntrega">
							<label>Fecha prevista entrega</label>
						</li>
						<li>
							<input [(ngModel)]="chk_nomPeti" type='checkbox' id="nomPeti">
							<label>Nombre peticionario</label>
						</li>
						<li>
							<input [(ngModel)]="chk_telPeti" type='checkbox' id="telPeti">
							<label>Telef. peticionario</label>
						</li>
						<li>
							<input [(ngModel)]="chk_sancion" type='checkbox' id="sancion">
							<label>Sanci&oacute;n aprobada?</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecUltSol" type='checkbox' id="fecUltSol">
							<label>Fecha &uacute;ltima solicitud</label>
						</li>
						<li>
							<input [(ngModel)]="chk_fecFinRA" type='checkbox' id="fecFinRA">
							<label>Fecha fin R.A.</label>
						</li>
						<li>
							<input [(ngModel)]="chk_usuRA" type='checkbox' id="usuRA">
							<label>Usuario R.A.</label>
						</li>
						<li>
							<input [(ngModel)]="chk_responsableRA" type='checkbox' id="responsableRA">
							<label>Responsable R.A.</label>
						</li>
						<li>
							<input [(ngModel)]="chk_telResponsableRA" type='checkbox' id="telResponsableRA">
							<label>Telef. responsable R.A.</label>
						</li>
						<li>
							<input [(ngModel)]="chk_alcPaquetes" type='checkbox' id="alcPaquetes">
							<label>ALCANCE: Paquetes</label>
						</li>
						<li>
							<input [(ngModel)]="chk_alcScripts" type='checkbox' id="alcScripts">
							<label>ALCANCE: Scripts</label>
						</li>
						<li>
							<input [(ngModel)]="chk_alcFicConf" type='checkbox' id="alcFicConf">
							<label>ALCANCE: Fic. config.</label>
						</li>
						<li>
							<input [(ngModel)]="chk_alcBBDD" type='checkbox' id="alcBBDD">
							<label>ALCANCE: Cargas de BBDD</label>
						</li>
					</ul>
					<button (click)="toggleMostrarCampos()" type="button" class="col-sm-12 btn btn-default maren-inferior">
						<strong>Aceptar</strong>
					</button>
				</div>
				<div class="col-sm-1 pull-right alinea-der">
					<button (click)="toggleMostrarCampos()" type="button" class="btn btn-default" title="Columnas a Visualizar">
						<span class="glyphicon glyphicon-eye-close"></span>
					</button>
				</div>
			</div>
			<br>
			<ngx-datatable
				class="material striped"
				[rows]="aplicaciones_res"
				[columnMode]="'standard'"
				[scrollbarH]="true"
				[headerHeight]="50"
				[footerHeight]="50"
				[rowHeight]="60"
				[reorderable]="reorderable"
				[limit]="filasTabla.value"
				[selected]="selected"
	          	[selectionType]="'checkbox'"
	          	(activate)="onActivate($event)"
	          	(select)='onSelect($event)'>
				<ngx-datatable-column 
					[frozenLeft]="true"
		            [width]="30"
		            [sortable]="false"
		            [canAutoResize]="false"
		            [draggable]="false"
		            [resizeable]="false"
		            [headerCheckboxable]="true"
		            [checkboxable]="true">
	          	</ngx-datatable-column>
				<ngx-datatable-column
					[frozenLeft]="true"
		            [width]="100"
		            [sortable]="false"
		            [canAutoResize]="false"
		            [draggable]="false"
		            [resizeable]="false"
		            [headerCheckboxable]="false"
		            [checkboxable]="false">
		            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
	            		<i (click)="consulta(row)" title="Consultar" class="color-iconos glyphicon glyphicon-eye-open"></i>
	            		<i (click)="modificacion(row)" title="Modificar" class="color-iconos glyphicon glyphicon-pencil"></i>
	            		<i (click)="copiar(row)" title="Copiar" class="color-iconos glyphicon glyphicon-duplicate"></i>
	            		<i (click)="elimina(row)" title="Borrar" class="color-iconos glyphicon glyphicon-trash"></i>
	          		</ng-template>
	          	</ngx-datatable-column>
				<ngx-datatable-column *ngIf="chk_uuaa" name="UUAA" prop="id.cod_aplicaci">
	          		<ng-template let-value="value" ngx-datatable-cell-template>
	            		<strong>{{value}}</strong>
	          		</ng-template>
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_nomdoc" name="Nombre del Documento" prop="des_nomuuaa"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_monitorizacion" name="ID. Monitorizaci&oacute;n" prop="des_codmonit"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecMonitoriza" name="Fecha de Monitorizaci&oacute;n" prop="fec_monitori"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_horasMaxAcceso" name="Horas m&aacute;ximo acceso" prop="des_hmax"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecImplanta" name="Fecha de implantaci&oacute;n" prop="tim_implanta">
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecEntrega" name="Fecha de entrega" prop="tim_entrega"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_horasValle" name="Horas valle" prop="des_hvalle"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecPrevEntrega" name="Fecha prevista entrega" prop="tim_estimada"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_nomPeti" name="Nombre peticionario" prop="des_nompet"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_telPeti" name="Telef. peticionario" prop="des_telsolic"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_sancion" name="Sanci&oacute;n aprobada?" prop="xti_csancion"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecUltSol" name="Fecha &uacute;ltima solicitud" prop="tim_ultsol"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_fecFinRA" name="Fecha fin R.A." prop="tim_finra"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_usuRA" name="Usuario R.A." prop="cod_userra"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_responsableRA" name="Responsable R.A." prop="des_usura"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_telResponsableRA" name="Telef. responsable R.A." prop="des_telusura"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_alcPaquetes" name="ALCANCE: Paquetes" prop="qnu_npaquete"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_alcScripts" name="ALCANCE: Scripts" prop="qnu_nscripts"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_alcFicConf" name="ALCANCE: Fic. config." prop="qnu_nfichero"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_alcBBDD" name="ALCANCE: Cargas de BBDD" prop="qnu_ncargabd"> 
	        	</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
	<br>
	<!-- <div class="row">
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
		</div>
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
		</div>
	</div> -->
</div>
<br>