/* Clase para el título de la Web */
.cabecera {
	padding-top: 5%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -15px, #2A86CA 100%) repeat scroll 0 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	min-height: 10%;
}

.margin-titulo {
	margin-top: 1%;
	text-align: center;
}

.titulo-web {
	color: #FFFFFF;
	text-align: left;
    margin: 0%;
}

.img-head-left {
    width: 100%;
}

.img-head-center {
	width: 55%;
}

.img-head-user {
	width: 25%;
}

.img-head-ayuda {
	margin-top: 50%;
    width: 50%;
}

.barra-titulo {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -15px, #2A86CA 100%) repeat scroll 0 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 20px;
}

/*.columna {
	background: blue;
	height: 500px;
}*/

/* **************************************************** */
/* Clases del pie de página 							*/
/* **************************************************** */
.footer {
	position: absolute;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2A86CA 0px, #072146 100%) repeat scroll 0 0;
    border: medium none;
    padding-top: 15px; 
    padding-bottom: 15px;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

.footer p {
	color: white;
}
