/* Clase para el título de la Web */
.cabecera {
	/*padding-top: 5%;*/
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -15px, #2A86CA 100%) repeat scroll 0 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding-bottom: 3%;
}

.margin-titulo {
	margin-top: 1%;
	text-align: center;
}

.titulo-web-1 {
	padding-top: 5%;
	color: #FFFFFF;
	text-align: left;
    margin: 0%;
    margin-bottom: -20px;
    font-size: 200%;
}

.titulo-web-2 {
	color: #FFFFFF;
	text-align: justify;
    padding-bottom: 10px;
    margin: 0%;
    font-size: 400%;
}

.img-head-left {
	padding-top: 15%;
    width: 100%;
}

.img-head-center {
	padding-top: 10%;
	width: 60%;
}

.img-head-user {
	width: 25%;
}

.img-head-ayuda {
	margin-top: 50%;
    width: 50%;
}

.barra-titulo {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -15px, #2A86CA 100%) repeat scroll 0 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 20px;
}

/*.columna {
	background: blue;
	height: 500px;
}*/

/* **************************************************** */
/* Clases del pie de página 							*/
/* **************************************************** */
.footer {
	position: absolute;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2A86CA 0px, #072146 100%) repeat scroll 0 0;
    box-shadow: 8px 8px 16px 16px rgba(0,0,0,0.2), 6px 6px 20px 10px rgba(0,0,0,0.19);
    padding-top: 15px; 
    padding-bottom: 15px;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

.footer p {
	color: white;
}
