<!--	CABECERA DE LA PAGINA 		-->
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<img class="" src="../assets/img/Logo.png">
			<h3 class="titulo-web">Gestor Documental Batch</h3>
		</div>
		<div class="col-sm-6">
			<h4 class="prueba1">
				Bienvenido,
				<strong class="">Usuario</strong>
				<button type="button" class="btn btn-danger">Logout</button>
				<button type="button" class="btn btn-primary">Ayuda</button>
			</h4>
		</div>
	</div>
	<br>
</div>

<!-- BARRA DELIMITADORA DE CABECERA -->
<div class="row barra-titulo"></div>

<!-- DIRECTIVA ANGULAR PARA LA NAVEGACIÓN ENTRE LOS DISTINTOS COMPONENTES -->
<router-outlet></router-outlet>

<!--	BARRA DE NAVEGACION 		-->
<!-- {{navControl}} -->
<!-- <nav class="navbar-inverse"> -->
<!-- 	<ul class="nav nav-justified"> -->
<!--       <li id="nav_consulta" class="active-nav" (click)="navControl='consulta'"><span>CONSULTA</span></li> -->
<!--       <li id="nav_alta" (click)="navControl='alta'"><span>ALTA</span></li> -->
<!--       <li id="nav_modifica" (click)="navControl='modificacion'"><span>MODIFICACION</span></li> -->
<!--       <li id="nav_baja" (click)="navControl='baja'"><span>BAJA</span></li> -->
<!--     </ul> -->
<!-- </nav> -->

<!-- 	IMAGENES DE ENLACE A LA DOCUMENTACION -->
<!-- <app-iconos-menu></app-iconos-menu> -->
<!-- <div id="contentImagenes" class="container alinea-centro" *ngIf="showIconosMenu"> -->
<!-- 	<div class="col-xs-4 col-sm-4 circular"> -->
<!-- 		<img src="../assets/img/aplicacion.png" alt="Aplicaciones" class="img-circular"> -->
<!-- 		<h3>APLICACIONES</h3> -->
<!-- 	</div> -->
<!-- 	<div class="col-xs-4 col-sm-4 circular"> -->
<!-- 		<img src="../assets/img/cadena.png" alt="Cadenas" class="img-circular"> -->
<!-- 		<h3>CADENAS</h3> -->
<!-- 	</div> -->
<!-- 	<div class="col-xs-4 col-sm-4 circular" (click)="operarJobs()"> -->
<!-- 		<img src="../assets/img/job.png" alt="Jobs" class="img-circular"> -->
<!-- 		<h3>JOBS</h3> -->
<!-- 	</div> -->
<!-- </div> -->


<!-- MENU DE OPERACIONES TRAS SELECCIONAR TIPO DE DOCUMENTO -->
<!-- <app-menu-operacion></app-menu-operacion> -->

<!-- 	FORMULARIO DE BUSQUEDA EN EL SERVIDOR PARA JOBS 	-->
<!-- <app-form-busca-jobs></app-form-busca-jobs> -->

<!-- 	FORMULARIO DE ALTA DE JOBS	 -->
<!-- <app-form-alta-jobs></app-form-alta-jobs> -->

<!-- 	FORMULARIO DE BUSQUEDA EN EL SERVIDOR PARA CADENAS 	-->
<!-- <app-form-busca-cadenas></app-form-busca-cadenas> -->

<!-- 	FORMULARIO DE ALTA DE CADENAS	 -->
<!-- <app-form-alta-cadenas></app-form-alta-cadenas> -->


<!--	PIE DE PÁGINA INFORMATIVO DE LA APLICACION		-->
<footer class="footer">
	<div class="container-fluid">
		<p>
			&copy; BBVA - Gestor Documental Batch 
			<br>
			Site creado por <strong>SW Life Cycle and Prod. Tools</strong>
		</p>
	</div>
</footer>