<!-- REFERENCIA AL FORMULARIO DE CONSULTA, QUE CONTIENE EL FORMULARIO DE ALTA DESHABILITADO PARA LA CARGA DE DATOS -->
<app-consulta-jobs></app-consulta-jobs>
<!-- <app-consulta-jobs class="modal fade" id="consultaJobsModal" tabindex="-1" role="dialog"></app-consulta-jobs> -->

<!--					****************		FORMULARIO DE BUSQUEDA PARA LAS CONSULTAS		**************** 					-->
<!--	El modelo de formulario usado para esta parte de la página es el Template-driven Form, es decir, los controles y
		validaciones se realizan desde el propio HTML a traves de los controles de Angular ngForm(Formulario) y ngModel(campos)		-->
<div id="areaBusca">
	<br>
	<form id="buscaJobsForm" name="buscaJobsForm" (ngSubmit)="onSubmit()" #buscaJobsForm="ngForm">
		<fieldset id="fieldBusca">
			<legend class="text-muted"> Rellene los campos de la consulta </legend>
			<div class="row form-group form-group-sm">
				<!-- NOMBRE -->
				<div class="col-sm-3">
					<label for="busca_des_refdocjb">Nombre</label> 
					<input type="text" class="form-control" id="busca_des_refdocjb"
						[(ngModel)]="jobs.des_refdocjb" name="busca_des_refdocjb" #busca_des_refdocjb="ngModel">
				</div>
				
				<!-- JOBNAME -->
				<div class="col-sm-3">
					<label for="busca_des_nombrjob">Jobname</label> 
					<input type="text" class="form-control" id="busca_des_nombrjob"
						[(ngModel)]="jobs.des_nombrjob" name="busca_des_nombrjob" #busca_des_nombrjob="ngModel">
				</div>
				
				<!-- GRUPO DE SOPORTE -->
				<div class="col-sm-3">
					<label for="busca_des_gsoporte">Grupo de Soporte</label>
					<select class="form-control" id="busca_des_gsoporte"
						[(ngModel)]="jobs.des_gsoporte" name="busca_des_gsoporte" #busca_des_gsoporte="ngModel">
						<option *ngFor="let grupo of grupo_soporte" [value]="grupo">{{grupo}}</option>
					</select>
				</div>
				
				<!-- MAQUINA DE ORIGEN -->
				<div class="col-sm-3">
					<label for="busca_des_maqori">Maquina origen</label> 
					<input type="text" class="form-control" id="busca_des_maqori"
						[(ngModel)]="jobs.des_maqori" name="busca_des_maqori" #busca_des_maqori="ngModel">
				</div>
			</div>
			<div *ngIf="!masCampos">
				<a (click)="toogleCampos()" style="cursor: pointer;"> 
					Mostrar mas campos de b&uacute;squeda + 
				</a>
			</div>
			<div *ngIf="masCampos">
				<div class="row form-group form-group-sm">
					<!-- LIBRERIA DE ORIGEN -->
					<div class="col-sm-3">
						<label for="busca_des_libreori">Libreria de origen</label>
						<input type="text" class="form-control" id="busca_des_libreori"
							[(ngModel)]="jobs.des_libreori" name="busca_des_libreori" #busca_des_libreori="ngModel">
					</div>
					
					<!-- ESTRUCTURA -->
					<div class="col-sm-3">
						<label for="busca_des_estrupl">Estructura</label>
						<input type="text" class="form-control" id="busca_des_estrupl"
							[(ngModel)]="jobs.des_estrupl" name="busca_des_estrupl" #busca_des_estrupl="ngModel">
					</div>
					
					<!-- PERIODICIDAD -->
					<div class="col-sm-3">
						<label for="busca_des_periojob">Reglas de Planificaci&oacute;n/Periodicidad</label>
						<input type="text" class="form-control" id="busca_des_periojob"
							[(ngModel)]="jobs.des_periojob" name="busca_des_periojob" #busca_des_periojob="ngModel">
					</div>
					
					<!-- MAQUINA DE EJECUCION -->
					<div class="col-sm-3">
						<label for="busca_des_maqeje">M&aacute;quina de ejecuci&oacute;n</label> 
						<input type="text" class="form-control" id="busca_des_maqeje"
							[(ngModel)]="jobs.des_maqeje" name="busca_des_maqeje" #busca_des_maqeje="ngModel">
					</div>				
				</div>
				<a (click)="toogleCampos()" style="cursor: pointer;">
					Mostrar menos campos de b&uacute;squeda - 
				</a>
			</div>
			<br>
			<!-- BOTONERA DEL FORMULARIO -->
			<div class="row form-group form-group-sm">
				<div class="col-sm-2">
					<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button>
				</div>
				<div class="col-sm-offset-8 col-sm-2">
					<button id="frmBuscaJobBtnBusca" type="submit" class="pull-right btn btn-success" data-toggle="modal" data-target="#consultaJobsModal" 
						[disabled]="!buscaJobsForm.form.dirty">Buscar</button>
<!-- 					<button id="frmBuscaJobBtnBusca" type="submit" class="pull-right btn btn-success" [disabled]="!buscaJobsForm.form.dirty">Buscar</button> -->
				</div>
			</div>
		</fieldset>
	</form>
</div>
<br>
<div class="row">
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
	</div>
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
	</div>
</div>
<br>