<!-- ****************		VENTANA MODAL PARA LA MODIFICACION MASIVA DEL GRUPO DE SOPORTE		**************** -->
<app-busca-grupo-soporte></app-busca-grupo-soporte>

<!--					****************		FORMULARIO DE BUSQUEDA PARA LAS CONSULTAS		**************** 					-->
<!--	El modelo de formulario usado para esta parte de la página es el Template-driven Form, es decir, los controles y
		validaciones se realizan desde el propio HTML a traves de los controles de Angular ngForm(Formulario) y ngModel(campos)		-->
<div class="col-xs-offset-9 col-xs-3 col-sm-offset-10 col-sm-2 panel-mando">
	<div class="col-xs-1 mini-circular" title="Home" routerLink="/">
		<span class="hvr-icon-back glyphicon glyphicon-home"></span>
	</div>
	<div class="col-xs-1 mini-circular" title="Men&uacute; operaciones" routerLink="/menu-operacion">
		<span class="hvr-icon-back glyphicon glyphicon-menu-left"></span>
	</div>
</div>
<br>
<div class="container-fluid">
	<!-- <div class="row">
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
		</div>
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
		</div>
	</div> -->
	<div id="areaBusca">
		<br>
		<form id="buscaJobsForm" name="buscaJobsForm" (ngSubmit)="onSubmit()" #buscaJobsForm="ngForm">
			<fieldset id="fieldBusca">
				<legend class="text-muted"> Rellene los campos de la consulta </legend>
				<div class="row form-group form-group-sm">
					<!-- Documento -->
					<div class="col-sm-3">
						<label for="busca_des_refdocjb">Documento</label> 
						<input type="text" class="form-control" id="busca_des_refdocjb"
							[(ngModel)]="jobs.des_refdocjb" name="busca_des_refdocjb" #busca_des_refdocjb="ngModel">
					</div>
					
					<!-- JOBNAME -->
					<div class="col-sm-3">
						<label for="busca_des_nombrjob">Jobname</label> 
						<input type="text" class="form-control" id="busca_des_nombrjob"
							[(ngModel)]="jobs.des_nombrjob" name="busca_des_nombrjob" #busca_des_nombrjob="ngModel">
					</div>
					
					<!-- GRUPO DE SOPORTE -->
					<div class="col-sm-3">
						<label>Grupo de Soporte</label>
						<div (click)="setOrigen('busca')" class="input-group" style="cursor: pointer;" data-toggle="modal" data-target="#modMasivaGSoporte">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-search"></span>
							</span>
							<input type="text" class="form-control" id="busca_des_gsoporte" value="{{buscaGRS.seleccionBusca}}" [readOnly]="true"
								[(ngModel)]="jobs.des_gsoporte" name="busca_des_gsoporte" #busca_des_gsoporte="ngModel">
						</div>
					</div>
					
					<!-- APLICACION UUAA -->
					<div class="col-sm-3">
						<label for="cod_aplicaci">Cod.Aplicaci&oacute;n - UUAA</label> 
						<input type="text" class="form-control" id="cod_aplicaci"
							[(ngModel)]="jobs?.id.cod_aplicaci" name="cod_aplicaci" #cod_aplicaci="ngModel">
					</div>
				</div>
				<div *ngIf="!masCampos">
					<a (click)="toogleCampos()" style="cursor: pointer;"> 
						Mostrar mas campos de b&uacute;squeda + 
					</a>
				</div>
				<div *ngIf="masCampos">
					<div class="row form-group form-group-sm">
						<!-- LIBRERIA DE ORIGEN -->
						<div class="col-sm-3">
							<label for="busca_des_libreori">Libreria de origen</label>
							<input type="text" class="form-control" id="busca_des_libreori"
								[(ngModel)]="jobs.des_libreori" name="busca_des_libreori" #busca_des_libreori="ngModel">
						</div>
						
						<!-- ESTRUCTURA -->
						<div class="col-sm-3">
							<label for="busca_des_estrupl">Estructura</label>
							<input type="text" class="form-control" id="busca_des_estrupl"
								[(ngModel)]="jobs.des_estrupl" name="busca_des_estrupl" #busca_des_estrupl="ngModel">
						</div>
						
						<!-- PERIODICIDAD -->
						<div class="col-sm-3">
							<label for="busca_des_periojob">Reglas de Planificaci&oacute;n/Periodicidad</label>
							<input type="text" class="form-control" id="busca_des_periojob"
								[(ngModel)]="jobs.des_periojob" name="busca_des_periojob" #busca_des_periojob="ngModel">
						</div>
						
						<!-- MAQUINA DE EJECUCION -->
						<div class="col-sm-3">
							<label for="busca_des_maqeje">M&aacute;quina de ejecuci&oacute;n</label> 
							<input type="text" class="form-control" id="busca_des_maqeje"
								[(ngModel)]="jobs.des_maqeje" name="busca_des_maqeje" #busca_des_maqeje="ngModel">
						</div>				
					</div>
					<div class="row form-group form-group-sm">
						<!-- MAQUINA DE ORIGEN -->
						<div class="col-sm-3">
							<label for="busca_des_maqori">Maquina origen</label> 
							<input type="text" class="form-control" id="busca_des_maqori"
								[(ngModel)]="jobs.des_maqori" name="busca_des_maqori" #busca_des_maqori="ngModel">
						</div>
					</div>
					<a (click)="toogleCampos()" style="cursor: pointer;">
						Mostrar menos campos de b&uacute;squeda - 
					</a>
				</div>
				<br>
				<!-- BOTONERA DEL FORMULARIO -->
				<div class="row form-group form-group-sm">
					<div class="col-sm-2">
						<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button>
	<!-- 					<button type="reset" class="pull-left btn btn-primary">Limpiar</button> -->
					</div>
					<div class="col-sm-offset-8 col-sm-2">
						<button id="frmBuscaJobBtnBusca" type="submit" class="pull-right btn btn-success">Buscar</button>
					</div>
				</div>
			</fieldset>
		</form>
		<br>
	<!-- 	<div *ngIf="jobs_res" class="row"> -->
	<!-- 		<div class="col-sm-2"> -->
	<!-- 			<button [disabled]="selected.length < 1" type="button" class="pull-left btn btn-success" data-toggle="modal" data-target="#modMasivaGSoporte">Modificar Grupo Soporte</button> -->
	<!-- 		</div> -->
	<!-- 		<div class="col-sm-2"> -->
	<!-- 			<button (click)="dame()" type="button" class="pull-left btn btn-success">Mostrar</button> -->
	<!-- 		</div> -->
	<!-- 		<input value="{{buscaGRS.seleccion}}" [readOnly]="true" class="form-control"> -->
	<!-- 	</div> -->

		<!-- <div class="container-fluid" *ngIf="jobs_res"> -->
		<div class="container-fluid well" *ngIf="jobs_res">
			<div class="row">
				<strong>OPCIONES PARA OPERACIONES MASIVAS</strong>
			</div>
			<br>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-btn">
						<button (click)="setOrigen('masiva')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modMasivaGSoporte">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
					<input placeholder="Modificaci&oacute;n masiva de Grupo de Soporte" value="{{buscaGRS.seleccionMasiva}}" [readOnly]="true" class="form-control">
					<span class="input-group-btn">
						<button [disabled]="selected.length < 1 || !buscaGRS.seleccion" (click)="modMasivaGSoporte()" type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-pencil"> Modificar</span>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-1">
				<img class="img-ayuda" (mouseenter)="toggle()" (mouseleave)="toggle()" src="../assets/img/help.png">
				<div class="div-ayuda" [style.opacity]="stateName">
					<p>
						Agrega un grupo de soporte pulsando en <span class="glyphicon glyphicon-search"></span>. Selecciona los elementos a modificar 
						en la tabla y pulsa sobre modificar.
					</p>
				</div>
			</div>
			<div class="col-xs-3">
				<button (click)="borradoMasivo()" [disabled]="selected.length < 1" type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash margin-icon"></span>
					Borrado masivo
				</button>
			</div>
		</div>
		<!-- TABLA DE RESULTADOS DE BÚSQUEDA -->
		<div *ngIf="jobs_res">
			<div class="row">
				<div class="form-inline col-sm-3">
					<label>Filas a Visualizar:</label>
					<select #filasTabla id="filasTabla" class="form-control">
						<option value="5">5</option>
						<option value="10">10</option>
						<option selected="selected" value="25">25</option>
						<option value="50">50</option>
						<option value="75">75</option>	
						<option value="100">100</option>	
					</select>
				</div>
				<div *ngIf="mostrarCampos" class='col-sm-3 cuadro-mostrar'>
					<h4>Columnas a Visualizar</h4>
					<ul>
						<li>
							<input [(ngModel)]="chk_jobname" type='checkbox' id="Jobname">
							<label>Jobname</label>
						</li>
						<li>
							<input [(ngModel)]="chk_documento" type='checkbox' id="Documento">
							<label>Documento</label>
						</li>
						<li>
							<input [(ngModel)]="chk_uuaa" type='checkbox' id="UUAA">
							<label>UUAA</label>
						</li>
						<li>
							<input [(ngModel)]="chk_grsoporte" type='checkbox' id="Grupo Soporte">
							<label>Grupo Soporte</label>
						</li>
						<li>
							<input [(ngModel)]="chk_maqorigen" type='checkbox' id="Maquina Origen">
							<label>M&aacute;quina Origen</label>
						</li>
						<li>
							<input [(ngModel)]="chk_liborigen" type='checkbox' id="Libreria Origen">
							<label>Librer&iacute;a Origen</label>
						</li>
						<li>
							<input [(ngModel)]="chk_estructura" type='checkbox' id="Estructura">
							<label>Estructura</label>
						</li>
						<li>
							<input [(ngModel)]="chk_periodicidad" type='checkbox' id="Periodicidad">
							<label>Periodicidad</label>
						</li>
					</ul>
				</div>
				<div class="col-sm-1 pull-right alinea-der">
					<button (click)="toggleMostrarCampos()" type="button" class="btn btn-default" title="Columnas a Visualizar">
						<span class="glyphicon glyphicon-eye-close"></span>
					</button>
				</div>
			</div>
			<br>
			<ngx-datatable
				class="material striped"
				[rows]="jobs_res"
				[columnMode]="'standard'"
				[scrollbarH]="true"
				[headerHeight]="50"
				[footerHeight]="50"
				[rowHeight]="60"
				[reorderable]="reorderable"
				[limit]="filasTabla.value"
				[selected]="selected"
	          	[selectionType]="'checkbox'"
	          	(activate)="onActivate($event)"
	          	(select)='onSelect($event)'>
				<ngx-datatable-column 
					[frozenLeft]="true"
		            [width]="30"
		            [sortable]="false"
		            [canAutoResize]="false"
		            [draggable]="false"
		            [resizeable]="false"
		            [headerCheckboxable]="true"
		            [checkboxable]="true">
	          	</ngx-datatable-column>
				<ngx-datatable-column 
					[frozenLeft]="true"
		            [width]="120"
		            [sortable]="false"
		            [canAutoResize]="false"
		            [draggable]="false"
		            [resizeable]="false"
		            [headerCheckboxable]="false"
		            [checkboxable]="false">
		            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
	            		<i (click)="consulta(row)" title="Consultar" class="color-iconos glyphicon glyphicon-eye-open"></i>
	            		<i (click)="modificacion(row)" title="Modificar" class="color-iconos glyphicon glyphicon-pencil"></i>
	            		<i (click)="copiar(row)" title="Copiar" class="color-iconos glyphicon glyphicon-duplicate"></i>
	            		<i (click)="elimina(row)" title="Borrar" class="color-iconos glyphicon glyphicon-trash"></i>
	          		</ng-template>
	          	</ngx-datatable-column>
				<ngx-datatable-column *ngIf="chk_jobname" name="Jobname" prop="des_nombrjob">
	          		<ng-template let-value="value" ngx-datatable-cell-template>
	            		<strong>{{value}}</strong>
	          		</ng-template>
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_documento" name="Documento" prop="des_refdocjb">
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_uuaa" name="UUAA" prop="id.cod_aplicaci"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_grsoporte" name="Grupo Soporte" prop="des_gsoporte"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_maqorigen" name="M&aacute;quina Origen" prop="des_maqori"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_liborigen" name="Librer&iacute;a Origen" prop="des_libreori"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_estructura" name="Estructura" prop="des_estrupl"> 
	        	</ngx-datatable-column>
	        	<ngx-datatable-column *ngIf="chk_periodicidad" name="Periodicidad" prop="des_periojob"> 
	        	</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
	<br>
	<!-- <div class="row">
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/return_icon.png" title="Men&uacute; operaciones" class="mini-img-circular" routerLink="/menu-operacion">
		</div>
		<div class="col-xs-1 pull-right mini-circular">
				<img src="../assets/img/home_icon.png" title="Home" class="mini-img-circular" routerLink="/">
		</div>
	</div> -->
</div>
<br>