<!--					****************		FORMULARIO DE ALTA/MODIFICACION	DE JOBS		**************** 						-->
<!--	El modelo de formulario usado para esta parte de la página es el Reactive Form, es decir, los controles y validaciones se 
		establecen al crear la relacion con el propio campo desde el componente. Adicionalmente método de generacion de formularios 
		nos permite crear campos de	forma dinamica, como por ejemplo en el caso de los pasos de los jobs.							-->

<div id="areaAlta" class="container">
	<br>
	<form id="altaJobsForm" name="altaJobsForm" [formGroup]="altaJobsForm" (ngSubmit)="onSubmit()" novalidate>
		<fieldset id="fieldAlta" class="the-fieldset well">
			<legend class="the-legend text-muted">
				Formulario de alta de Jobs
			</legend>
			<div class="row form-group form-group-sm">			
				<!-- JOBNAME -->
				<div class="col-sm-4">
					<label for="des_nombrjob">JobName</label> 
					<input type="text" class="form-control" id="des_nombrjob" name="des_nombrjob" formControlName="des_nombrjob">
					 
<!-- 					<div *ngIf="alta_des_nombrjob.invalid && (alta_des_nombrjob.dirty || alta_des_nombrjob.touched)" class="alert alert-danger"> -->
<!-- 						Campo obligatorio -->
<!-- 					</div> -->
				</div>
			</div>
			<label>Descripción de pasos:</label>
			<div formArrayName="pasos1" class="well well-lg">
				<div *ngFor="let paso of pasos1.controls; let i=index" [formGroupName]="i">
					<!-- The repeated address template -->
					<h4>Campos del Paso #{{i + 1}}</h4>
					<div style="margin-left: 1em;">
						<div class="form-group">
							<label class="center-block">des_paso: 
							<input class="form-control" formControlName="des_paso">
							</label>
						</div>
						<div class="form-group">
							<label class="center-block">des_fichentr: 
							<input class="form-control" formControlName="des_fichentr">
							</label>
						</div>
						<div class="form-group">
							<label class="center-block">des_fichsali: 
							<input class="form-control" formControlName="des_fichsali">
							</label>
						</div>
						<div class="form-group">
							<label class="center-block">des_entibd: 
							<input class="form-control" formControlName="des_entibd">
							</label>
						</div>
						<div class="form-group">
							<label class="center-block">des_accesbd: 
							<input class="form-control" formControlName="des_accesbd">
							</label>
						</div>
					</div>
					<br>
					<!-- End of the repeated address template -->
				</div>
				<button (click)="addLair()" type="button">Add a Secret Lair</button>
			</div>
	<br>
	<br>
	<br>
			<table id="jobsDescPasos" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="col-sm-1 celda-vacia"></th>
						<th colspan="2" class="col-sm-5">FICHEROS</th>
						<th colspan="2" class="col-sm-5">BASE DE DATOS</th>
					</tr>
					<tr>
						<th>PASO</th>
						<th>ENTRADA</th>
						<th>SALIDA</th>
						<th>ENTIDADES</th>
						<th>TIPO DE ACCESO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
			<!-- BOTONERA DEL FORMULARIO -->
			<div class="row form-group form-group-sm">
				<div class="col-sm-3">
					<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button>
				</div>
				<div class="col-sm-offset-6 col-sm-3">
					<button id="frmAltaBtnOK" type="submit" class="pull-right btn btn-success">Aceptar</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>


<!-- <div id="areaAlta" class="container"> -->
<!-- 	<br> -->
<!-- 	<form id="altaJobsForm" name="altaJobsForm" (ngSubmit)="onSubmit()" #altaJobsForm="ngForm"> -->
<!-- 		<fieldset id="fieldAlta" class="the-fieldset well"> -->
<!-- 			<legend class="the-legend text-muted"> -->
<!-- 				Formulario de alta de Jobs -->
<!-- 			</legend> -->
<!-- 			<div class="row form-group form-group-sm"> -->
			
<!-- 				JOBNAME -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_nombrjob">JobName</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_nombrjob" required  -->
<!-- 						[(ngModel)]="alta_jobs.des_nombrjob" name="alta_des_nombrjob" #alta_des_nombrjob="ngModel"> -->
<!-- 					<div *ngIf="alta_des_nombrjob.invalid && (alta_des_nombrjob.dirty || alta_des_nombrjob.touched)" class="alert alert-danger"> -->
<!-- 						Campo obligatorio -->
<!-- <!-- 						<div *ngIf="alta_des_nombrjob.errors.required"> --> -->
<!-- <!-- 							Campo obligatorio --> -->
<!-- <!-- 						</div> --> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row form-group form-group-sm"> -->
			
<!-- 				NOMBRE -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_refdocjb">Nombre</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_refdocjb" -->
<!-- 						[(ngModel)]="alta_jobs.des_refdocjb" name="alta_des_refdocjb" #alta_des_refdocjb="ngModel"> -->
<!-- 				</div> -->
				
<!-- 				MAQUINA DE ORIGEN -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_maqori">Máquina origen</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_maqori" -->
<!-- 						[(ngModel)]="alta_jobs.des_maqori" name="alta_des_maqori" #alta_des_maqori="ngModel"> -->
<!-- 				</div> -->
				
<!-- 				LIBRERIA DE ORIGEN -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_libreori">Librería origen</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_libreori" -->
<!-- 						[(ngModel)]="alta_jobs.des_libreori" name="alta_des_libreori" #alta_des_libreori="ngModel"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row form-group form-group-sm"> -->
			
<!-- 				DESCRIPCION -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<label for="alta_des_desjobpl">Descripción</label> -->
<!-- 					<textarea rows="5" class="form-control" id="alta_des_desjobpl" -->
<!-- 						[(ngModel)]="alta_jobs.des_desjobpl" name="alta_des_desjobpl" #alta_des_desjobpl="ngModel"> -->
<!-- 					</textarea> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row form-group form-group-sm"> -->
			
<!-- 				ESTRUCTURA -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_estrupl">Estructura</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_estrupl" -->
<!-- 						[(ngModel)]="alta_jobs.des_estrupl" name="alta_des_estrupl" #alta_des_estrupl="ngModel"> -->
					
<!-- 				</div> -->
				
<!-- 				GRUPO DE SOPORTE -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_gsoporte">Grupo de Soporte</label> -->
<!-- 					<select class="form-control" id="alta_des_gsoporte" required  -->
<!-- 						[(ngModel)]="alta_jobs.des_gsoporte" name="alta_des_gsoporte" #alta_des_gsoporte="ngModel"> -->
<!-- 						<option *ngFor="let grupo of grupo_soporte" [value]="grupo">{{grupo}}</option>	-->
<!-- 					</select> -->
<!-- 					<div *ngIf="alta_des_gsoporte.invalid && (alta_des_gsoporte.dirty || alta_des_gsoporte.touched)" class="alert alert-danger"> -->
<!-- 						Campo obligatorio -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				MAQUINA DE EJECUCION -->
<!-- 				<div class="col-sm-4"> -->
<!-- 					<label for="alta_des_maqeje">Máquina de ejecución</label>  -->
<!-- 					<input type="text" class="form-control" id="alta_des_maqeje" -->
<!-- 						[(ngModel)]="alta_jobs.des_maqeje" name="alta_des_maqeje" #alta_des_maqeje="ngModel"> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!--  			<div class="row form-group form-group-sm"> -->
<!--  				CRITICIDAD -->
<!-- 				<div class="col-sm-6"> -->
<!-- 					<label for="frmAltCriticidad">Criticidad / Acciones (TODO: Pendiente de composicion)</label> -->
<!-- 					<select id="frmAltCriticidad" class="form-control"> -->
<!--						<option value="">Seleccione opcion...</option>
						<option value="">Aviso inmediato (Llamada y Remedy)</option>
						<option value="">Aviso al día siguiente y Aviso al día siguiente incluso si es festivo (Remedy)</option>
						<option value="">Relanzar Job (Rerun), y si falla, Llamada y Remedy</option>
						<option value="">Relanzar Job (Rerun), y si falla, Remedy</option>
						<option value="1">Relanzar Job si el código de retorno es N, y si falla, Llamada y Remedy</option>
						<option value="1">Relanzar Job si el código de retorno es N, y si falla, Remedy</option>
						<option value="1">Relanzar Job si el código de retorno es distinto de N, y si falla, Llamada y Remedy</option>
						<option value="1">Relanzar Job si el código de retorno es distinto de N, y si falla, Remedy</option>
						<option value="">Liberar sucesores / Force OK / Dar por terminado, y si falla, Llamada y Remedy</option>
						<option value="">Liberar sucesores / Force OK / Dar por terminado, y si falla, Remedy</option>
						<option value="1">Liberar sucesores / Force OK / Dar por terminado si el código de retorno es N, y si falla, Llamada y Remedy</option>
						<option value="1">Liberar sucesores / Force OK / Dar por terminado si el código de retorno es N, y si falla, Remedy</option>
						<option value="1">Liberar sucesores / Force OK / Dar por terminado si el código de retorno es distinto de N, y si falla, Llamada y Remedy</option>
						<option value="1">Liberar sucesores / Force OK / Dar por terminado si el código de retorno es distinto de N, y si falla, Remedy</option>
-->
<!-- 					</select> -->
<!-- 				</div> -->
<!-- 				<div id="campoCriticidad" class="col-sm-3" style="display: none"> -->
<!-- 					<label for="frmAltRC">Valor Codigo de Retorno (N)</label> -->
<!-- 					<input type="text" class="form-control" id="frmAltRC"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row form-group form-group-sm"> -->
<!--  				PERIODICIDAD -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<label for="alta_des_periojob">Reglas de Planificación/Periodicidad</label> -->
<!-- 					<textarea rows="3" class="form-control" id="alta_des_periojob" -->
<!-- 						[(ngModel)]="alta_jobs.des_periojob" name="alta_des_periojob" #alta_des_periojob="ngModel"> -->
<!-- 					</textarea> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			TODO: SEGUIR POR AQUI -->
<!-- 			<label>Descripción de pasos:</label> -->
<!-- 			<table id="jobsDescPasos" class="table table-striped table-bordered"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th class="col-sm-1 celda-vacia"></th> -->
<!-- 						<th colspan="2" class="col-sm-5">FICHEROS</th> -->
<!-- 						<th colspan="2" class="col-sm-5">BASE DE DATOS</th> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<th>PASO</th> -->
<!-- 						<th>ENTRADA</th> -->
<!-- 						<th>SALIDA</th> -->
<!-- 						<th>ENTIDADES</th> -->
<!-- 						<th>TIPO DE ACCESO</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
<!-- 			<table id="jobsRearranques" -->
<!-- 				class="table table-striped table-bordered"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th class="col-sm-1">PASO</th> -->
<!-- 						<th class="col-sm-3">PREDECESORES</th> -->
<!-- 						<th class="col-sm-3">SUCESORES</th> -->
<!-- 						<th class="col-sm-5">NORMAS DE REARRANQUE</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
<!-- 			<table id="jobsIncompatibilidades" -->
<!-- 				class="table table-striped table-bordered"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th class="col-sm-1">PASO</th> -->
<!-- 						<th class="col-sm-8">INCOMPATIBILIDADES</th> -->
<!-- 						<th class="col-sm-3">CRITICIDAD</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 						<td></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
			
<!-- 			<!-- BOTONERA DEL FORMULARIO --> -->
<!-- 			<div class="row form-group form-group-sm"> -->
<!-- 				<div class="col-sm-3"> -->
<!-- 					<button type="button" class="pull-left btn btn-primary" (click)="limpiar()">Limpiar</button> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-offset-6 col-sm-3"> -->
<!-- 					<button id="frmAltaBtnOK" type="submit" class="pull-right btn btn-success" [disabled]="!altaJobsForm.form.valid">Aceptar</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</fieldset> -->
<!-- 	</form> -->
<!-- </div> -->