.redondea {
	margin-top: 5%;
    border: 1px solid #2A86CA;
    border-radius: 15px;
    color: #2A86CA;
    text-align: center;
    padding: 0%;
    cursor: pointer;
}

.redondea:hover {
    box-shadow: 5px 2px 6px 0px rgba(42,134,202,0.5);
}

.redondea-doble {
	margin: 2px;
    border: 2px solid #2A86CA;
    border-radius: 15px;
    padding: 3%;
    font-size: large;
}