{{documento}}-->{{operacion}}
<div class="container-fluid">
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('consulta')" routerLink="{{enrutador('consulta')}}">
				CONSULTAS
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row">
				ALTAS
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_nueva')" routerLink="{{enrutador('alta_nueva')}}">
				DOCUMENTO NUEVO
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_copia')" routerLink="{{enrutador('alta_copia')}}">
				COPIAR DOCUMENTO
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_masiva')" routerLink="{{enrutador('alta_masiva')}}">
				ALTA MASIVA
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_copia_masiva')" routerLink="{{enrutador('alta_copia_masiva')}}">
				COPIA MASIVA
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('modificacion')" routerLink="{{enrutador('modificacion')}}">
				MODIFICACION
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('baja')" routerLink="{{enrutador('baja')}}">
				BAJAS
			</div>
		</div>
	</div>
</div>