<!-- 	IMAGENES DE ENLACE A LA DOCUMENTACION -->
<br>
<div id="operativas" class="alinea-centro">
	<div class="col-xs-6 col-sm-6 circular-oper">
		<img src="../assets/img/operaciones.png" alt="Operaciones" class="img-circular-oper" (click)="selecciona('consulta')" routerLink="{{enrutador('consulta')}}">
		<h3>OPERACIONES</h3>
		<h4>(Consulta, Modificaciones...)</h4>
	</div>
	<div class="col-xs-6 col-sm-6 circular-oper">
		<img src="../assets/img/alta-bbdd.png" alt="Alta de nuevo elemeno en la BBDD" class="img-circular-oper" (click)="selecciona('alta_nueva')" routerLink="{{enrutador('alta_nueva')}}">
		<h3>ALTA DE INFORMACION</h3>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/return_icon.png" title="Home" class="mini-img-circular" routerLink="/">
	</div>
</div>

<!-- 
<div class="row">
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('consulta')" routerLink="{{enrutador('consulta')}}">
				CONSULTAS
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row">
				ALTAS
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_nueva')" routerLink="{{enrutador('alta_nueva')}}">
				DOCUMENTO NUEVO
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_copia')" routerLink="{{enrutador('alta_copia')}}">
				COPIAR DOCUMENTO
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_masiva')" routerLink="{{enrutador('alta_masiva')}}">
				ALTA MASIVA
			</div>
		</div>
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('alta_copia_masiva')" routerLink="{{enrutador('alta_copia_masiva')}}">
				COPIA MASIVA
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('modificacion')" routerLink="{{enrutador('modificacion')}}">
				MODIFICACION
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="redondea">
			<div class="redondea-doble row" (click)="selecciona('baja')" routerLink="{{enrutador('baja')}}">
				BAJAS
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-1 pull-right mini-circular">
			<img src="../assets/img/return_icon.png" title="Home" class="mini-img-circular" routerLink="/">
	</div>
</div>
<br>
 -->