<!-- 	IMAGENES DE ENLACE A LA DOCUMENTACION -->
<!-- <br><br> -->
<div id="contentImagenes" class="area-iconos">
	<div class="col-xs-4 col-sm-4 circular">
		<img src="../assets/img/aplicacion.png" alt="Aplicaciones" class="img-circular" (click)="selecciona('aplicacion')" routerLink="/menu-operacion">
		<h3>APLICACIONES</h3>
	</div>
	<div class="col-xs-4 col-sm-4 circular">
		<img src="../assets/img/cadena.png" alt="Cadenas" class="img-circular" (click)="selecciona('cadena')" routerLink="/menu-operacion">
		<h3>CADENAS</h3>
	</div>
	<div class="col-xs-4 col-sm-4 circular">
		<img src="../assets/img/job.png" alt="Jobs" class="img-circular" (click)="selecciona('job')" routerLink="/menu-operacion">
		<h3>JOBS</h3>
	</div>
</div>
