/* **************************************************** */
/* Estilos de los circulos por aplicacion 				*/
/* **************************************************** */
.circular {
	border-radius: 50%;
}

.img-circular {
    max-width: 60%;
	cursor: pointer;
}

.img-circular:hover {
    max-width: 63%;
}

#contentImagenes h3 {
	color: #2A86CA;
	font-weight: bold;
}