/* **************************************************** */
/* Estilos de los circulos por aplicacion 				*/
/* **************************************************** */
.circular {
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 50%;
	cursor: pointer;
}

.img-circular {
    max-width: 70%;
}

.img-circular:hover {
    max-width: 73%;
}

#contentImagenes h3 {
	color: #2A86CA;
	font-weight: bold;
}

.alinea-centro {
	text-align: center;
}