<!--	CONSULTA DE DATOS DETALLADA MODAL		-->
<!-- <div class="modal fade" id="consultaJobsModal" tabindex="-1" role="dialog"> -->
<div>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Consulta JOBNAME_PRUEBAS_1</h4>
			</div>
			<div class="modal-body">
				<app-form-alta-jobs></app-form-alta-jobs>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cerrar</strong></button>
			</div>
		</div>
	</div>
</div>