/* Estilos de para las datatables */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
 
/* **************************************************** */
/* 	HOJA DE ESTILOS GENERALES PROPIOS DE LA WEB 		*/
/* **************************************************** */

/*	Modificación del body y html para configurar el pie de página	*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  /* display: none;	*/
}

/* **************************************************** */
/* 					CLASES GENERALES 					*/
/* **************************************************** */
.area-iconos {
	text-align: center;
    margin-top: 5%;
}

.alinea-centro {
	text-align: center;
}

.alinea-izq {
	text-align: left;
}

.alinea-der {
	text-align: right;
}

.maren-inferior {
	margin-bottom: 10px;
}

.color-iconos {
	color: #2A86CA;
	cursor: pointer;
}

.margin-icon {
	margin-right: 5px;
}

.img-ayuda {
	position: absolute;
	width: 25px;
	cursor: pointer;
    margin: 4px;
    z-index: 999;
}

.div-ayuda {
	background: black;
	position: absolute;
	color: white;
    margin-left: 40px;
    margin-top: -25px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    z-index: 990;
    opacity: 0;
    transition:opacity 1s linear;
}

.cuadro-mostrar {
    right: 60px;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    background-color: white;
}

/* **************************************************** */
/* 		Modificaciones de aspecto de la ventana modal 	*/
/* **************************************************** */
.modal-header {
    text-align: center;
	color: white;
	font-weight: bold;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -50px, #2A86CA 100%) repeat scroll 0 0;
}

.modal-footer {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2A86CA 30px, #072146 100%) repeat scroll 0 0;
	text-align: center;
}

/* **************************************************** */
/* Estilos generales de los formularios de la web 		*/
/* **************************************************** */
.titulo-form-alta {
    color: #2A86CA;
    border-bottom: 4px solid #49A5E6;
}    

fieldset {
	border: 2px solid #D3D3D3 !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#F4F4F4;
	padding-left:10px!important;
}

legend {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 2px solid #D3D3D3;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #F4F4F4;
}

.legend-interna {
	font-size: 14px; 
	color: black;
}

form .well {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}

form .btn {
	width: 100%;
	font-weight: bold;
}

form .label {
	vertical-align: bottom;
}

form .glyphicon {
	vertical-align: bottom;
}

form h5 {
	font-weight: bold;
}

textarea { 
	resize: vertical; 
}

#frmConsulta th {
	background: #d3d3d3;
	text-align: center;
}

#frmConsulta .celda-vacia {
	background: white !important;
	border-color: transparent !important;
}

#altaJobsForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaJobsForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

#altaCadenasForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaCadenasForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

#altaAppsForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaAppsForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

form .table-bordered {
	border: none;
}

/* **************************************************** */
/* 			Clases de los iconos de enlace 				*/
/* **************************************************** */
.panel-mando {
	position: absolute;
	margin-top: -24px;
}

.footer-mando {
	position: absolute;
	margin-top: -38px;
}

.mini-circular {
	border-radius: 50%;
	box-shadow: 0px 0px 15px #fff;
	cursor: pointer;
	background: rgba(0, 0, 0, 0) linear-gradient(to left, #226FAC -50px, #2A86CA 100%) repeat scroll 0 0;
    color: #ffffff;
    padding: 0;
    margin-left: 20px;
    /*text-align: center;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
	opacity: 0.5;
    /*line-height: 45px;*/
    height: 45px;
    width: 45px;
}

.mini-circular:hover {	
	opacity: 1.0;
}

.hvr-icon-back {
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	/*font-size: 1.3em;*/
	position: relative;
	/*padding-left: 2.2em;*/
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.hvr-icon-back:before {
	position: absolute;
	left: 1em;
	padding: 0 1px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
	-webkit-transform: translateX(-4px);
	transform: translateX(-4px);
}

/* **************************************************** */
/*	Clases del botón PDF de descarga en las consultas  	*/
/* **************************************************** */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	/*margin: 30px auto 0;*/
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	/*margin: 30px auto 0;*/
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.thar-two {
	color: #f71818;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #f71818;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #fff !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #fff !important;
	background: #f71818;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* **************************************************** */
/* 	Modificaciones de las clases del plugin de tabkas   */
/* **************************************************** */
.ngx-datatable.material .datatable-header {
    border-bottom: 2px solid rgba(183, 158, 158, 0.67);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -50px, #2A86CA 100%) repeat scroll 0 0;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    font-size: 14px;
    font-weight: bold; 
    color: white;
}

.ngx-datatable.material .datatable-header .datatable-row-left {
    background-color: transparent;
}

.ngx-datatable.material .datatable-body .datatable-row-left {
    background-color: #eee;
}


.ngx-datatable.material .datatable-body {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px -2px 20px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ngx-datatable.material .datatable-body .datatable-body-row.active {
   background-color: #569FFF;
   color: #FFF;
}

.ngx-datatable.material .datatable-footer {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -50px, #2A86CA 100%) repeat scroll 0 0;
    color: white;
    margin-top: 7px;
    box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.2), 0 -6px 20px 0 rgba(0,0,0,0.19);
}

/*.ngx-datatable.bootstrap {
   box-shadow: none;
   font-size: 13px;
}
.ngx-datatable.bootstrap .datatable-header {
   height: unset !important;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
   vertical-align: bottom;
   padding: 0.75rem;
   border-bottom: 1px solid #d1d4d7;
   color: green;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
   line-height: 24px;
}
.ngx-datatable.bootstrap .datatable-body {

}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
   padding: 0.75rem;
   vertical-align: top;
   border-top: 1px solid #d1d4d7;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
   background-color: rgba(0, 0, 0, 0.05);
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
   text-align: left;
   vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
   background-color: #1483ff;
   color: #FFF;
}
.ngx-datatable.bootstrap .datatable-footer {
   background: #424242;
   color: #ededed;
   margin-top: -1px;
}
.ngx-datatable.bootstrap .datatable-footer .page-count {
   line-height: 50px;
   height: 50px;
   padding: 0 1.2rem;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
   margin: 0 10px;
   vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
   margin: 10px 0px;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
   background-color: #545454;
   font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
   height: 22px;
   min-width: 24px;
   line-height: 22px;
   padding: 0;
   border-radius: 3px;
   margin: 0 3px;
   text-align: center;
   vertical-align: top;
   text-decoration: none;
   vertical-align: bottom;
   color: #ededed;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
   font-size: 18px;
   line-height: 27px;
   padding: 0 3px;
}*/

/* **************************************************** */
/* Clases para pruebas durante el desarrollo de la web  */
/* **************************************************** */
.prueba1 {
	float: right;
	margin-top: 50px;	/* cambiar */
}

.well {
    border: 2px solid #D3D3D3;
	background: #F4F4F4;
}

.action-column-remove {
  cursor: pointer;
  padding: 5px;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #ffff80;
}
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */