/* **************************************************** */
/* 	HOJA DE ESTILOS GENERALES PROPIOS DE LA WEB 		*/
/* **************************************************** */

/*	Modificación del body y html para configurar el pie de página	*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  /* display: none;	*/
}

/* **************************************************** */
/* 					CLASES GENERALES 					*/
/* **************************************************** */
.alinea-centro {
	text-align: center;
}
.alinea-izq {
	text-align: left;
}

/* **************************************************** */
/* 		Modificaciones de aspecto de la ventana modal 	*/
/* **************************************************** */
.modal-header {
	color: white;
	font-weight: bold;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #072146 -15px, #2A86CA 100%) repeat scroll 0 0;
}

.modal-footer {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2A86CA -15px, #072146 100%) repeat scroll 0 0;
	text-align: center;
}

/* **************************************************** */
/* Estilos generales de los formularios de la web 		*/
/* **************************************************** */
.titulo-form-alta {
    color: #2A86CA;
    border-bottom: 4px solid #49A5E6;
}    

fieldset {
	border: 2px solid #D3D3D3 !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#F4F4F4;
	padding-left:10px!important;
}

legend {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 2px solid #D3D3D3;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #F4F4F4;
}

.legend-interna {
	font-size: 14px; 
	color: black;
}

form .well {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}

form .btn {
	width: 100%;
	font-weight: bold;
}

form h5 {
	font-weight: bold;
}

textarea { 
	resize: vertical; 
}

#frmConsulta th {
	background: #d3d3d3;
	text-align: center;
}

#frmConsulta .celda-vacia {
	background: white !important;
	border-color: transparent !important;
}

#altaJobsForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaJobsForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

#altaCadenasForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaCadenasForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

#altaAppsForm th {
	background: #d3d3d3;
	text-align: center;
}

#altaAppsForm .celda-vacia {
	background: #F4F4F4 !important;
	border-color: transparent !important;
}

form .table-bordered {
	border: none;
}
/* **************************************************** */
/* 			Clases de los iconos de enlace 				*/
/* **************************************************** */
.mini-circular {
	border-radius: 50%;
	cursor: pointer;
}

.mini-img-circular {
    max-width: 70%;
}

.mini-img-circular:hover {
    max-width: 75%;
}

/* **************************************************** */
/* Clases para pruebas durante el desarrollo de la web  */
/* **************************************************** */
.prueba1 {
	float: right;
	margin-top: 50px;	/* cambiar */
}

.well {
	background: #eff2f5;
}

.action-column-remove {
  cursor: pointer;
  padding: 5px;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #ffff80;
}
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
